#!/bin/bash
#
#
#pi@raspberrypi:~/src/github/cellular-router/m300 $ ssh root@192.168.1.1
#The authenticity of host '192.168.1.1 (192.168.1.1)' can't be established.
#ECDSA key fingerprint is SHA256:EKqGyv9mQS4ztwF5fE4I/c71YFpbvR+1wBl3044IxYw.
#Are you sure you want to continue connecting (yes/no)? yes
#Warning: Permanently added '192.168.1.1' (ECDSA) to the list of known hosts.
#root@192.168.1.1's password:
#Cellular-hello-test# log export
#
#Please download the log through http://<device_ip>:8000
#
#  * From LAN side: http://192.168.1.1:8000
#Cellular-hello-test# exit
#Connection to 192.168.1.1 closed.
#pi@raspberrypi:~/src/github/cellular-router/m300 $

user=`cat ./xxx/cfg.ini | grep "user=" | sed 's/"//g' | awk -F"=" '{print $2}'`
pass=`cat ./xxx/cfg.ini | grep "password=" | sed 's/"//g' | sed "s/'//g" | awk -F"=" '{print $2}'`

ssh_log="./xxx/hardcode.0"

#echo $user
#echo $pass

command=$1
ip=$2
port=$3

#ip=192.168.1.1
#port=22

if [ z"$ip" == z ]; then ip=`cat xxx/deviceip.xxx`; fi
if [ z"$ip" == z ]; then ip=192.168.1.1; fi
if [ z"$port" == z ]; then port=23; fi

rm -rf $ssh_log

expect -c "
	log_file $ssh_log
	spawn telnet $ip $port
	exec sleep 2

	expect "yes" {
		send yes\r
	} "login*" { send \"$user\r\" }

        expect "Password*" {
                send \"$pass\r\"
        } "Password*" { send \"$pass\r\" }

        expect "login*" {
                send \"$user\r\"
        } "Password*" { send \"$pass\r\" }

        expect "login*" {
                send \"$user\r\"
        } "Password*" { send \"$pass\r\" }

        expect "login*" {
                send \"$user\r\"
        } "Password*" { send \"$pass\r\" }

        expect "login*" {
                send \"$user\r\"
        } "Password*" { send \"$pass\r\" }

#Login incorrect

	expect #
#	log_file $ssh_log
	send \"$command\r\"
	expect #
        send \"exit\r\"
        interact
"

